.pp__description {
  /* background-color: red; */
  margin-left: 22.5rem;
  margin-right: 10rem;
  margin-top: 2rem;
  font-size: 1.5rem;
  width: 50rem;
  height: 10rem;
  color: hsl(14, 65%, 9%);
  line-height: 1.6;
}
.pp__header {
  font-weight: bold;
  font-size: 2rem;
  margin-left: 40rem;
  margin-top: 0.9rem;

  color: hsl(12, 20%, 30%);
}
@media (max-width: 480px) {
  .pp__header {
    font-size: 3rem;
    margin-left: 4rem;
    margin-top: 1.5rem;
  }
  .pp__description {
    /* background-color: red; */
    margin-left: 4rem;

    margin-top: 2rem;
    font-size: 2.5rem;
    width: 40rem;
    height: 10rem;
  }
}
